
<link href="~/content/christmas.css" rel="stylesheet" />
@{
    ViewBag.Title = "Home";
}



<div class="jumbotron">
    <h1 style="align-content:center"> Home </h1>

</div>



<div  class="jumbotron">
    <div id="homecontainer" class="container">
   
    <h2 style="color:#4a0707">Play Reindeer Games</h2>

    <button id="toplaygames"class="btn btn-lg btn-success" onclick="location.href='@Url.Action("Index", "ReinDeerGames")'">&gt; Click Here &lt;</button>
</div>
    <img src="~/Content/5Reindeers.jpg"/>
</div>